<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Notices</title>
</head>
<body>
<div th:if="${isAdmin}">
    <!-- isAdmin이 true일 때 보이는 작성하기 버튼 -->
    <a href="/notice/new">작성하기</a>
</div>
<h1>Notices</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="notice : ${notices}">
        <td>
            <a th:href="@{/notice/{noticeId}(noticeId=${notice.noticeId})}">
                <span th:switch="${notice.postType}">
                    <span th:case="'NOTICE'" th:text="${notice.importance} ? '*중요* [공지사항] ' + ${notice.title} : '[공지사항] ' + ${notice.title}"></span>
                    <span th:case="'EVENT'" th:text="${notice.importance} ? '*중요* [이벤트] ' + ${notice.title} : '[이벤트] ' + ${notice.title}"></span>
                </span>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<div>
    <a th:if="${notices.hasPrevious()}" th:href="@{/notice(page=${notices.number - 1})}">Previous</a>
    <span th:text="${notices.number + 1} + '/' + ${notices.totalPages}"></span>
    <a th:if="${notices.hasNext()}" th:href="@{/notice(page=${notices.number + 1})}">Next</a>
</div>
</body>
</html>
