<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항 상세</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body class="bg-gray-100">

<nav class="bg-white shadow-md">
    <div th:replace="fragments/navbar :: navbar"></div>
</nav>

<div class="container mx-auto px-4 py-8 max-w-4xl">
    <div class="bg-white shadow-md rounded-lg overflow-hidden p-6">
        <h1 id="title" th:text="${noticeDetail.title}" class="text-3xl font-bold mb-4"></h1>
        <div id="content" th:utext="${noticeDetail.content}" class="prose max-w-none"></div>

        <div id="editForm" style="display:none;" th:data-notice-id="${noticeDetail.noticeId}" class="mt-6">
            <input type="text" id="editTitle" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4"/>
            <textarea id="editContent" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4 h-64"></textarea>
            <input type="file" id="fileInput" multiple class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-4" onchange="uploadFiles()"/>
            <select id="editPostType" th:value="${noticeDetail.postType}" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline mb-4">
                <option value="NOTICE">공지</option>
                <option value="EVENT">이벤트</option>
            </select>
            <label class="inline-flex items-center mb-4">
                <input type="checkbox" id="editImportance" th:checked="${noticeDetail.importance}" class="form-checkbox h-5 w-5 text-blue-600"/>
                <span class="ml-2 text-gray-700">중요</span>
            </label>
            <button onclick="saveChanges()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                변경사항 저장
            </button>
        </div>

        <div id="editButton" th:if="${noticeDetail.isOwner}" class="mt-6">
            <button onclick="enableEditMode()" class="bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mr-2">
                수정
            </button>
            <button onclick="deletePost()" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                삭제
            </button>
        </div>
    </div>

    <div class="mt-6">
        <a href="/notice" class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded">
            목록으로 돌아가기
        </a>
    </div>
</div>

<script>
    function enableEditMode() {
        $('#editTitle').val($('#title').text());
        var htmlContent = $('#content').html();
        var markdown = htmlToMarkdown(htmlContent);
        $('#editContent').val(markdown);
        $('#title').hide();
        $('#content').hide();
        $('#editForm').show();
        $('#editButton').hide(); // Hide the edit button when edit mode is enabled
    }

    function htmlToMarkdown(htmlContent) {
        const rules = [
            { regex: /<img[^>]*src="([^"]*)"[^>]*>/gi, replacement: '![]($1)' },
            { regex: /<h1>(.*?)<\/h1>/gi, replacement: '# $1\n' },
            { regex: /<h2>(.*?)<\/h2>/gi, replacement: '## $1\n' },
            { regex: /<h3>(.*?)<\/h3>/gi, replacement: '### $1\n' },
            { regex: /<strong>(.*?)<\/strong>/gi, replacement: '**$1**' },
            { regex: /<em>(.*?)<\/em>/gi, replacement: '*$1*' },
            { regex: /<ul>/gi, replacement: '' },
            { regex: /<\/ul>/gi, replacement: '' },
            { regex: /<ol>/gi, replacement: '' },
            { regex: /<\/ol>/gi, replacement: '' },
            { regex: /<li>(.*?)<\/li>/gi, replacement: '- $1\n' },
            { regex: /<p>([^<]+)<\/p>/gi, replacement: '$1\n\n' }, // 개선된 단락 처리
            { regex: /<br\s*\/?>/gi, replacement: '\n' },
            { regex: /<hr\s*\/?>/gi, replacement: '---\n' }
        ];

        rules.forEach(rule => {
            htmlContent = htmlContent.replace(rule.regex, rule.replacement);
        });

        return htmlContent;
    }

    function deletePost() {
        var noticeId = $('#editForm').data('notice-id'); // 데이터 속성에서 noticeId 읽기
        if (confirm('정말로 삭제하시겠습니까?')) { // 삭제 확인
            $.ajax({
                url: '/notice/' + noticeId, // 삭제 요청 URL
                method: 'DELETE', // HTTP DELETE 메소드 사용
                success: function(response) {
                    window.location.href = '/notice'; // 공지 목록으로 리디렉션
                },
                error: function(xhr) {
                    alert('공지사항 삭제 실패: ' + xhr.responseJSON.error);
                }
            });
        }
    }

    function saveChanges() {
        var noticeId = $('#editForm').data('notice-id');
        var updatedTitle = $('#editTitle').val();
        var updatedContent = $('#editContent').val();
        var updatedPostType = $('#editPostType').val();
        var updatedImportance = $('#editImportance').is(':checked');

        $.ajax({
            url: '/notice/' + noticeId,
            method: 'PUT',
            contentType: 'application/json',
            data: JSON.stringify({
                title: updatedTitle,
                content: updatedContent,
                postType: updatedPostType,
                importance: updatedImportance
            }),
            success: function(response) {
                window.location.href = response.redirectUrl;
            },
            error: function(xhr) {
                alert('Error updating post: ' + xhr.responseJSON.error);
            }
        });

        $('#editForm').hide();
        $('#title').show();
        $('#content').show();
        $('#editButton').show(); // Optionally, show the edit button again if you exit edit mode without saving
    }

    function insertAtCursor(myField, myValue) {
        if (document.selection) {
            myField.focus();
            var sel = document.selection.createRange();
            sel.text = myValue;
        } else if (myField.selectionStart || myField.selectionStart == '0') {
            var startPos = myField.selectionStart;
            var endPos = myField.selectionEnd;
            myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos, myField.value.length);
            myField.selectionStart = startPos + myValue.length;
            myField.selectionEnd = startPos + myValue.length;
        } else {
            myField.value += myValue;
        }
    }

    function uploadFiles() {
        var fileInput = document.getElementById('fileInput');
        Array.from(fileInput.files).forEach(file => {
            var formData = new FormData();
            formData.append("file", file);

            fetch('/notice/upload', {
                method: 'POST',
                body: formData
            })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    if (data.url) {
                        var editContent = document.getElementById('editContent');
                        insertAtCursor(editContent, `![](${data.url})\n`);
                    }
                    fileInput.value = '';
                })
                .catch(error => {
                    console.error('Error uploading image:', error);
                    alert('Error uploading image: ' + error.message);
                });
        });
    }
</script>
</body>
</html>


