<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>부트하우스</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<header>
    <nav class="bg-white shadow-md">
        <div th:replace="fragments/navbar :: navbar"></div>
    </nav>
</header>

<main class="main-content-wrap">
    <section class="notice-section-wrap bg-orange-500 text-white p-4 flex justify-center items-center mt-4 mx-4 rounded-lg shadow-xl">
        <i class="fas fa-bullhorn mr-2" aria-hidden="true"></i>
        <a href="/notice" class="notice-link">최신 부트캠프 공지사항을 확인하세요!</a>
    </section>

    <div class="content-sections-wrap flex flex-col h-auto mt-4 px-4 gap-y-6">
        <section class="course-section-wrap w-full p-4 rounded-lg shadow-lg mb-6 h-1/2 bg-gray-100">
            <h2 class="text-xl font-bold mb-4">지금 <span class="text-orange-500">모집중</span>인 프로그램에 신청해보세요!</h2>
            <div class="course-cards-wrap grid grid-cols-2 gap-4 pb-4">
                <article th:each="course : ${courseDtos}" class="course-card-wrap flex flex-col bg-white p-4 rounded-lg shadow-md">
                    <div th:text="'[' + ${course.bootcampName} + ']'" class="bootcamp-name ml-4 text-orange-600 font-bold"></div>
                    <img src="https://via.placeholder.com/150" alt="Course 1" class="course-image w-[50px] h-[50px] ml-auto rounded-md">
                    <div class="course-details-wrap flex flex-col ml-4">
                        <a th:text="${course.name}" th:href="@{'/courses/' + ${course.id}}" class="course-name font-bold"></a>
                        <p th:text="${course.summary}" class="course-summary"></p>
                        <p th:text="${course.startDate} + ' 개강 · ' + ${course.tuitionType == '무료' ? '무료' : course.tuitionType + '만원'}"
                           class="course-info text-orange-500"></p>
                    </div>
                </article>
            </div>
        </section>

        <section class="review-section-wrap w-full bg-gray-900 text-white p-4 rounded-lg shadow-lg">
            <h2 class="text-xl font-bold mb-4">관심있는 프로그램 리뷰를 살펴보세요!</h2>
            <div class="review-cards-wrap grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pb-4">
                <article th:each="review : ${reviewDtos}" class="review-card-wrap flex-shrink-0 w-[250px] bg-gray-800 p-4 rounded-lg shadow-md">
                    <img src="https://via.placeholder.com/150" alt="리뷰 1 이미지" class="review-image w-full rounded-md mb-2">
                    <a th:text="${review.username} +'님의 후기'" th:href="@{'/reviews/' + ${review.id}}"
                       class="review-author font-bold text-white"></a>
                    <p th:text="|&quot;${review.oneLineReview}&quot;|" class="review-summary text-gray-400"></p>
                </article>
            </div>
        </section>
    </div>
</main>
</body>
</html>






