<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses List</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<div class="container mx-auto px-4 py-8">
    <!-- 네비게이션 바 -->
    <nav class="bg-white shadow-md">
        <div th:replace="fragments/navbar :: navbar"></div>
    </nav>

    <h2 class="text-2xl font-bold mb-6 mt-6">Course List</h2>

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        <li th:each="course : ${courses}" class="bg-white shadow-md rounded-lg overflow-hidden">
            <div class="p-4">
                <h3 class="text-lg font-semibold mb-2">
                    <a th:href="@{/courses/{id} (id=${course.id})}" th:text="${course.name}">Course name</a>
                </h3>
                <p class="text-sm text-gray-600 mb-2" th:text="${course.summary}">Course Summary</p>
                <div class="text-sm text-gray-500">
                    <p>
                        <i class="fas fa-map-marker-alt mr-2"></i>
                        <span th:text="${course.onlineOffline ? '온라인' : '오프라인 ' + course.location}">
                            Course 온오프라인</span>
                    </p>
                    <p>
                        <i class="far fa-calendar-alt mr-2"></i>
                        <span th:text="${course.startDate} + ' ~ ' + ${course.endDate}"></span>
                    </p>
                    <p>
                        <i class="fas fa-won-sign mr-2"></i>
                        <span th:text="${course.tuitionType == '무료' ? '무료 (내배카 필요)' : course.tuitionType + '만원'}"></span>
                    </p>

                </div>
            </div>
        </li>
    </ul>
</div>
</body>
</html>