<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MY PAGE</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="bg-gray-100 p-6">

<nav class="bg-white shadow-md mb-6 p-4 rounded-lg">
    <div th:replace="fragments/navbar :: navbar"></div>
</nav>

<div class="container mx-auto bg-white shadow-md rounded-lg p-6">
    <h1 class="text-3xl font-bold mb-6">My Page</h1>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">Name:</label>
        <p th:text="${loginUser.name}" class="text-gray-900"></p>
    </div>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">Address:</label>
        <p th:text="${loginUser.address}" class="text-gray-900"></p>
    </div>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">Email:</label>
        <p th:text="${loginUser.email}" class="text-gray-900"></p>
    </div>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">Phone Number:</label>
        <p th:text="${loginUser.phoneNumber}" class="text-gray-900"></p>
    </div>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">User Status:</label>
        <p th:text="${loginUser.userStatus}" class="text-gray-900"></p>
    </div>

    <div class="mb-4">
        <label class="block text-lg font-medium text-gray-700">Role Type:</label>
        <p th:text="${loginUser.roleType}" class="text-gray-900"></p>
    </div>
</div>

<!-- 회원 정보 수정하기 버튼 -->
<div class="mt-6">
    <a th:href="@{/users/{id}/edit(id=${loginUser.id})}"
       class="bg-blue-500 text-white font-semibold px-6 py-3 rounded-md shadow hover:bg-blue-600 transition duration-150">
        회원 정보 수정하기
    </a>
</div>


</body>
</html>
