<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>사용자 인증 정보 생성</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<main class="upload-container-wrap container mt-5">
    <h1>사용자 인증 정보 생성</h1>
    <form id="uploadForm" th:action="@{/upload}" method="post" enctype="multipart/form-data" class="mt-4">
        <input type="hidden" name="clientId" th:value="${id}">
        <div class="upload-input-wrap mb-3">
            <label for="uploadImage" class="form-label">이미지:</label>
            <input type="file" id="uploadImage" name="image" accept="image/*" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">제출</button>
    </form>
</main>
</body>
</html>