<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Review Details</title>
    <style>
        .like-button {
            font-size: 24px;
            cursor: pointer;
            color: gray;
        }
        .liked {
            color: red;
        }
    </style>
</head>
<body>
<h2 th:text="${course.name}">코스 이름</h2>

<table border="1">
    <tr>
        <th>제목</th>
        <td th:text="${review.title}">제목</td>
    </tr>
    <tr>
        <th>총평</th>
        <td th:text="${review.oneLineReview}">총평</td>
    </tr>
    <tr>
        <th>장점</th>
        <td th:text="${review.advantages}">장점</td>
    </tr>
    <tr>
        <th>단점</th>
        <td th:text="${review.disadvantages}">단점</td>
    </tr>
    <tr>
        <th>강사 평가</th>
        <td th:text="${review.instructorEvaluation}">강사 평가</td>
    </tr>
    <tr>
        <th>별점</th>
        <td th:text="${review.rating}">별점</td>
    </tr>
    <tr>
        <th>조회수</th>
        <td th:text="${review.viewCount}">조회수</td>
    </tr>
    <tr>
        <th>등록일</th>
        <td th:text="${#temporals.format(review.registrationDate, 'yyyy-MM-dd HH:mm:ss')}">등록일</td>
    </tr>
    <tr>
        <th>수정일</th>
        <td th:text="${#temporals.format(review.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}">수정일</td>
    </tr>
</table>

<!-- 좋아요 버튼 추가 -->
<div>
    <span id="likeButton" class="like-button">&#9825;</span>
</div>

<a href="/reviews">모든 리뷰 보기</a>

<div th:if="${review.userId == loginUser.id}">
    <a th:href="@{/review/{id}/edit(id=${review.id})}">리뷰 수정하기</a>
    <form th:action="@{/review/{id}/delete(id=${review.id})}" method="post" style="display:inline;">
        <button type="submit">리뷰 삭제하기</button>
    </form>
</div>


<!-- 이전글, 다음글 링크 추가 -->
<div>
    <div th:if="${previousReview != null}">
        <a th:href="@{/reviews/{id}(id=${previousReview.id})}">이전 글</a>
    </div>
    <div th:if="${nextReview != null}">
        <a th:href="@{/reviews/{id}(id=${nextReview.id})}">다음 글</a>
    </div>
</div>


<script>
    const likeButton = document.getElementById('likeButton');
    let liked = false;

    likeButton.addEventListener('click', () => {
        liked = !liked;
        likeButton.innerHTML = liked ? '&#9829;' : '&#9825;';
        likeButton.classList.toggle('liked');
    });
</script>

</body>
</html>