<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Reviews</title>
</head>
<body>
<h2>Reviews</h2>

<!-- 검색 폼 -->
<form th:action="@{/reviews}" method="get">
    <div>
        <label for="keyword">Search:</label>
        <input type="text" id="keyword" name="keyword" th:value="${condition.keyword}">
    </div>
    <div>
        <button type="submit">Search</button>
    </div>
</form>

<table border="1">
    <thead>
    <tr>
        <th>Title</th>
        <th>One Line Review</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="review : ${reviews}">
        <td><a th:href="@{/reviews/{id}(id=${review.id})}" th:text="${review.title}">Title</a></td>
        <td th:text="${review.oneLineReview}">One Line Review</td>
    </tr>
    </tbody>
</table>

</body>
</html>
