<!DOCTYPE html>
 <head>
    <meta charset="UTF-8">
    <title>Review Details</title>
</head>
<body>
<h2>Review Details</h2>

<table border="1">
    <tr>
        <th>Title</th>
        <td th:text="${review.title}">Title</td>
    </tr>
    <tr>
        <th>One Line Review</th>
        <td th:text="${review.oneLineReview}">One Line Review</td>
    </tr>
    <tr>
        <th>Advantages</th>
        <td th:text="${review.advantages}">Advantages</td>
    </tr>
    <tr>
        <th>Disadvantages</th>
        <td th:text="${review.disadvantages}">Disadvantages</td>
    </tr>
    <tr>
        <th>Instructor Evaluation</th>
        <td th:text="${review.instructorEvaluation}">Instructor Evaluation</td>
    </tr>
    <tr>
        <th>Rating</th>
        <td th:text="${review.rating}">Rating</td>
    </tr>
    <tr>
        <th>View Count</th>
        <td th:text="${review.viewCount}">View Count</td>
    </tr>
    <tr>
        <th>Course</th>
        <td th:text="${course.name}">Course Name</td>
    </tr>
    <tr>
        <th>Created Date</th>
        <td th:text="${#temporals.format(review.registrationDate, 'yyyy-MM-dd HH:mm:ss')}">Created Date</td>
    </tr>
    <tr>
        <th>Last Modified Date</th>
        <td th:text="${#temporals.format(review.lastModifiedDate, 'yyyy-MM-dd HH:mm:ss')}">Last Modified Date</td>
    </tr>
</table>

<a href="/reviews">Back to All Reviews</a>

<div th:if="${review.userId == loginUser.id}">
    <a th:href="@{/review/{id}/edit(id=${review.id})}">Edit Review</a>
    <form th:action="@{/review/{id}/delete(id=${review.id})}" method="post" style="display:inline;">
        <button type="submit">Delete Review</button>
    </form>
</div>


<!-- 이전글, 다음글 링크 추가 -->
<div>
    <div th:if="${previousReview != null}">
        <a th:href="@{/reviews/{id}(id=${previousReview.id})}">Previous Review</a>
    </div>
    <div th:if="${nextReview != null}">
        <a th:href="@{/reviews/{id}(id=${nextReview.id})}">Next Review</a>
    </div>
</div>


</body>
</html>
